<html>

  <head>
    <title>Hailey Willis</title>
    <link href="css/mysite.css" rel="stylesheet">
    <link href="css/about.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <header>
    <h1 class="page_title">Hailey Willis</h1>
    <nav>
      <ul>
        <li><a class="internal_link" href="./index.html">Home</a></li>
        <li><a class="internal_link" href="./about.html">About Hailey</a></li>
        <li><a class="internal_link" href="./project.html">Projects</a></li>
        <li><a class="internal_link" href="./blog.html">Blog</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <p>
      <h3 class="intro">I'm from Chicago.  It's really cold there sometimes.</h3>
      <img id="selfie" src = "../chicago_is_cold.jpg"/width="40%" height="auto" alt = "Portrait of author bundled up in winter gear"/>
    </p>

    <p>
      <h3 class="intro">I like cats and math.</h3>
      <img id="pet_photo" src = "../this_is_my_cat.jpg"/width="40%" height="auto" alt = "My cat eating my math"/>
    </p>
  </section>

  <footer>
    <p>
      Find me on:
      <a class="iconlink" href="http://twitter.com/weswilliscodes" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
      <a class="iconlink" href="http://facebook.com/haileyraerae" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
      <a class="iconlink" href="https://github.com/wesleywillis" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
    </p>
  </footer>

</html>
