  <section>
    <p>
      <h3 class="intro">I'm from Chicago.  It's really cold there sometimes.</h3>
      <img id="selfie" src = "../chicago_is_cold.jpg"/width="40%" height="auto" alt = "Portrait of author bundled up in winter gear"/>
    </p>

    <p>
      <h3 class="intro">I like cats and math.</h3>
      <img id="pet_photo" src = "../this_is_my_cat.jpg"/width="40%" height="auto" alt = "My cat eating my math"/>
    </p>
  </section>
