  <section>
    <p>
      <h3 class="intro">I'm from Chicago.  It's really cold there sometimes.</h3>
      <img class="intro_photo" src = "../chicago_is_cold.jpg"/width="40%" height="auto" alt = "Portrait of author bundled up in winter gear"/>
    </p>

    <p>
      <h3 class="intro">I like cats and math.</h3>
      <img class="intro_photo" src = "../this_is_my_cat.jpg"/width="40%" height="auto" alt = "My cat eating my math"/>
    </p>

    <p>
      <h3 class="intro">This is my Grandma Gloria.</h3>
      <h3 class="intro">She's my favorite lady on Earth and she knows more about Star Trek than you.</h3>
      <!-- still working on adding a ruby method here <h3 class="intro">As of today she is days old.</h3>-->

      <img class="intro_photo" src = "../grandma.jpg"/width="40%" height="auto" alt = "My gma"/>
    </p>
  </section>
