<html>

  <head>
    <title>Hailey Willis</title>
    <link href="css/mysite.css" rel="stylesheet">
    <link href="css/about.css" rel="stylesheet">
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <header>
    <h1>Here's an about page</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About Hailey</a></li>
        <li><a href="./project.html">Projects</a></li>
        <li><a href="./blog.html">Blog</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <p>
      <h3>I'm from Chicago.  It's really cold there sometimes.</h3>
      <img src = "../chicago_is_cold.jpg"/width="40%" height="auto" alt = "Chicago is kinda cold sometimes"/>
    </p>

    <p>
      <h3>I like cats and math.</h3>
      <img src = "../this_is_my_cat.jpg"/width="40%" height="auto" alt = "My cat eating my math"/>
    </p>
  </section>

  <footer>
    <p>
      Follow me on:
      <a href="http://twitter.com/weswilliscodes" target="_blank">Twitter</a>
      <a href="http://facebook.com/haileyraerae" target="_blank">Facebook</a>
      <a href="https://github.com/wesleywillis" target="_blank">Github</a>
    </p>
  </footer>

</html>
