<html>
<body>

<head>
  <title>About Me</title>
</head>

<header>
<h1><img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25>
  About Ricky
  <img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25></h1>
</header>

<section>
<h3>Background</h3>
<ul>
  <li>My name is Ricky Lee. I'm new to the Seattle area. I just moved here in early August with my partner and our two cats.</li>
  <li>I've been an urban farmer, nanny, and program coordinator for a mentorship program. I'm also an activist focused on prison abolition.</li>
  <li>Now I'm becoming a coder.</li>
</ul>

<img src="https://rickycodes.files.wordpress.com/2015/06/heart.jpg" alt="Ricky Dancing" height = 400 width = 350>

</section>


<footer>

  <table border = "1">
    <tr>
      <td><a href = "/index">Home Page</a></td>
      <td><a href = "/about">About Me</a></td>
      <td><a href = "/projects">My Projects</a></td>
      <td><a href = "/blog">My Blog</a></td>
  </table>


</footer>
</body>
</html>
