<html>
  <head>
    <title>Hailey's Blog'</title>
    <link href="css/mysite.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <header>
    <h1 class="page_title">Here goes a blog</h1>
    <nav>
      <ul>
        <li><a class="internal_link" href="./index.html">Home</a></li>
        <li><a class="internal_link" href="./about.html">About Hailey</a></li>
        <li><a class="internal_link" href="./project.html">Projects</a></li>
        <li><a class="internal_link" href="./blog.html">Blog</a></li>
      </ul>
    </nav>
  </header>

  <article>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sodales, augue non tristique accumsan, orci purus vestibulum arcu, pulvinar vulputate sem ipsum vitae est. Ut ut sagittis nisi, in imperdiet massa. Vestibulum interdum erat tincidunt lectus ullamcorper, sit amet tristique erat rhoncus. Donec efficitur vel nisi non pulvinar. Nam eget rhoncus orci, a pharetra lacus. Donec rutrum, neque id sollicitudin aliquet, leo diam hendrerit sapien, id dapibus nunc elit eget leo. Nunc tincidunt lorem ex, sed pulvinar purus consectetur vel. Donec ac felis a nulla consectetur cursus. Curabitur purus est, varius sit amet elementum ut, facilisis ut orci. Vivamus nunc arcu, vulputate vitae augue ac, blandit hendrerit justo. Curabitur a ligula eleifend, semper augue sed, aliquam elit. Vivamus porttitor orci vitae consequat dignissim. Donec ac metus blandit, vestibulum purus in, imperdiet diam. Ut et convallis ex, sed placerat felis. Integer feugiat luctus luctus.

      Sed porta, nulla eget posuere rhoncus, ipsum enim consectetur tortor, a blandit diam diam ac orci. Etiam sagittis leo suscipit nunc venenatis interdum. Nunc nunc magna, accumsan at felis sit amet, congue aliquam ipsum. Curabitur lacinia venenatis arcu, ut auctor sapien faucibus a. Donec ultricies hendrerit tellus, at eleifend lectus porta in. Aenean euismod eros in ipsum tempor, sed sollicitudin magna convallis. Nam non mollis velit. Morbi fringilla nisi quis tempor tristique. Donec id elit consectetur, facilisis nunc quis, dapibus neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

      Vivamus id auctor metus, molestie elementum ipsum.
    </p>
    <p>
      Pellentesque porttitor facilisis quam eu varius. Donec pretium eu orci in pretium. Fusce cursus diam justo, et condimentum urna tincidunt eget. Nulla ullamcorper, dolor ut egestas condimentum, est quam maximus tortor, et dictum ligula nibh non felis. Vestibulum porttitor urna sit amet imperdiet porttitor. Quisque vel turpis scelerisque, dapibus metus in, vestibulum felis. Maecenas mi dolor, euismod faucibus semper ut, laoreet eget dui. Morbi vehicula leo pharetra tortor malesuada, vitae gravida purus posuere. Sed eget magna laoreet, ultricies orci vitae, porttitor ipsum. Nullam pretium magna id ex aliquet gravida. Curabitur imperdiet hendrerit quam, nec sodales nunc.

      Mauris nec dapibus velit. Nulla rhoncus dolor et est efficitur egestas. Fusce ut lectus ut ex facilisis egestas. Curabitur molestie dolor sed erat hendrerit gravida non eget dolor. Suspendisse euismod erat quis velit tristique vulputate. In lacinia consectetur enim in pretium. Nullam nunc magna, lobortis vel malesuada et, ultricies eget risus. Sed lacinia mollis ligula, vel aliquam ante ultrices a.

      Aenean et felis vitae lacus consequat ornare non a sem. Aenean lacus leo, aliquam et justo vitae, hendrerit sagittis sapien. Nam in iaculis metus. Aenean quis dignissim sapien. Duis enim lorem, egestas non massa vel, aliquam venenatis arcu. Sed interdum erat dolor, in rutrum magna faucibus ullamcorper. Donec leo velit, blandit vulputate eros sed, lobortis suscipit eros.
    </p>
  </article>

  <footer>
    <p>
      Find me on:
      <a class="iconlink" href="http://twitter.com/weswilliscodes" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
      <a class="iconlink" href="http://facebook.com/haileyraerae" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
      <a class="iconlink" href="https://github.com/wesleywillis" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
    </p>
  </footer>

</html>
