<html>
  <head>
    <title>Hailey's Blog'</title>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <header>
    <h1>Here goes a blog</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About Hailey</a></li>
        <li><a href="./project.html">Projects</a></li>
        <li><a href="./blog.html">Blog</a></li>
      </ul>
    </nav>
  </header>

  <article>
    <marquee behavior=alternate direction=right><marquee behavior=alternate direction=down width=auto height=550>I don't have any posts yet!!<img src="./carlton.gif"/></marquee></marquee></article>
  </article>
  <footer>
    <p>
      Follow me on:
      <a href="http://twitter.com/weswilliscodes" target="_blank">Twitter</a>
      <a href="http://facebook.com/haileyraerae" target="_blank">Facebook</a>
      <a href="https://github.com/wesleywillis" target="_blank">Github</a>
    </p>
  </footer>

</html>
