<html>
<body>
  <head>
  <title>Blog</title>
</head>

<header>
<h1><img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25>
  Ricky's Blog
<img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25></h1>
</header>

<section>

<p>
  It just so happens that I have a blog set up. You can visit it by clicking <a href="https://rickycodes.wordpress.com/">here</a>, or the image below.
</p>

<a href="https://rickycodes.wordpress.com/"><img src="https://media.giphy.com/media/QKMwC70QGY6li/giphy.gif"></a>

</section>


<footer>
  <table border = "1">
    <tr>
      <td><a href = "file:///Users/BluePenguin/Documents/Ada/wk6/HTMLproject/home.html">Home Page</a></td>
      <td><a href = "file:///Users/BluePenguin/Documents/Ada/wk6/HTMLproject/about.html">About Me</a></td>
      <td><a href = "file:///Users/BluePenguin/Documents/Ada/wk6/HTMLproject/projects.html">My Projects</a></td>
      <td><a href = "file:///Users/BluePenguin/Documents/Ada/wk6/HTMLproject/blog.html">My Blog</a></td>
  </table>
</footer>

</body>
</html>
