<html>


<body>

<header>
  <h1>Here goes a blog</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About Hailey</a></li>
        <li><a href="./project.html">Projects</a></li>
        <li><a href="./blog.html">Blog</a></li>
      </ul
    </nav>
</header>

<article>
</article>

<footer>
</footer>
<p>
      Follow me on:
      <a href="http://twitter.com/weswilliscodes" target="_blank">Twitter</a>
      <a href="http://facebook.com/haileyraerae" target="_blank">Facebook</a>
      <a href="https://github.com/wesleywillis" target="_blank">Github</a>
    </p>

</body>
</html>
