<html>
<body>
  <head>
  <title>Blog</title>
</head>

<header>
<h1><img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25>
  Ricky's Blog
<img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25></h1>
</header>

<section>

<p>
  It just so happens that I have a blog set up. You can visit it by clicking <a href="https://rickycodes.wordpress.com/">here</a>, or the image below.
</p>

<a href="https://rickycodes.wordpress.com/"><img src="/ballooncats.gif"></a>

</section>


<footer>
  <table border = "1">
    <tr>
      <td><a href = "/index">Home Page</a></td>
      <td><a href = "/about">About Me</a></td>
      <td><a href = "/projects">My Projects</a></td>
      <td><a href = "/blog">My Blog</a></td>
  </table>
</footer>

</body>
</html>
