<html>

  <head>
    <title>Hailey Says Hi</title>
    <link href="css/mysite.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <header>
    <h1>Here's a homepage</h1>
    <nav class="nav">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About Hailey</a></li>
        <li><a href="./project.html">Projects</a></li>
        <li><a href="./blog.html">Blog</a></li>
      </ul>
    </nav>
  </header>

  <article>
  </article>

  <footer>
    <p>
      Follow me on:
      <a href="http://twitter.com/weswilliscodes" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
      <a href="http://facebook.com/haileyraerae" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
      <a href="https://github.com/wesleywillis" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
    </p>
    </footer>

</html>
