<html>
<body>
  <head>
    <title>Home Page</title>
  </head>

  <header>
  <h1><img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25>
    Ricky's Home Page
  <img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25></h1>
  </header>

  <section>

    <p>Click the links below to learn more about me!</p>

    <p><img src = "http://i.imgur.com/y5UkcfG.gif"></p>

  </section>


  <footer>
    <table border = "1">
      <tr>
        <td><a href = "file:///Users/BluePenguin/Documents/Ada/wk6/HTMLproject/home.html">Home Page</a></td>
        <td><a href = "file:///Users/BluePenguin/Documents/Ada/wk6/HTMLproject/about.html">About Me</a></td>
        <td><a href = "file:///Users/BluePenguin/Documents/Ada/wk6/HTMLproject/projects.html">My Projects</a></td>
        <td><a href = "file:///Users/BluePenguin/Documents/Ada/wk6/HTMLproject/blog.html">My Blog</a></td>
    </table>
  </footer>

</body>
</html>
