<html>

  <head>
    <title>Hailey Says Hi</title>
    <link href="css/mysite.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <header>
    <h1>Here's a homepage</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About Hailey</a></li>
        <li><a href="./project.html">Projects</a></li>
        <li><a href="./blog.html">Blog</a></li>
      </ul>
    </nav>
  </header>

  <article>
  </article>

  <footer>
    <p>
        Follow me on:
        <a href="http://twitter.com/weswilliscodes" target="_blank">Twitter</a>
        <a href="http://facebook.com/haileyraerae" target="_blank">Facebook</a>
        <a href="https://github.com/wesleywillis" target="_blank">Github</a>
      </p>
    </footer>

</html>
