<html>
  <head>
    <title>Hailey Willis</title>
    <link href="css/mysite.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <header>
    <h1 class="page_title">Hailey says hi.</h1>
    <nav>
      <ul>
        <li><a class="internal_link" href="./index.html">Home</a></li>
        <li><a class="internal_link" href="./about.html">About Hailey</a></li>
        <li><a class="internal_link" href="./project.html">Projects</a></li>
        <li><a class="internal_link" href="./blog.html">Blog</a></li>
      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p>
      Find me on:
      <a class="iconlink" href="http://twitter.com/weswilliscodes" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
      <a class="iconlink" href="http://facebook.com/haileyraerae" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
      <a class="iconlink" href="https://github.com/wesleywillis" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
    </p>
    <p id="copyright">
      &copy <%=Time.now.year%>
    </p>
  </footer>

</html>
