<html>
<body>

  <head>
    <title>Projects Page</title>
  </head>

  <header>
  <h1><img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25>
    Ricky's Projects
  <img src="http://www.cliparthut.com/clip-arts/1778/cat-head-clip-art-1778708.jpg" height=25 width = 25></h1>
  </header>

  <section>

    <h3>I love projects. Here are some examples:</h3>
    <ol>
      <li>Cooking</li>
      <img src = "http://belarr.com/bakercat/bakercat.gif" height = 200 width = 200>
      <li>Reading</li>
      <img src = "https://s-media-cache-ak0.pinimg.com/236x/ff/78/83/ff7883cedf1a054353a4585bc183e63e.jpg" height = 200 width = 200>
      <li>Blogging</li>
      <img src = "http://rs1187.pbsrc.com/albums/z393/KristineChavezRodriguez/blogger.gif~c200" height = 200 width = 200>
    </ol>

  </section>


  <footer>
    <table border = "1">
      <tr>
        <td><a href = "/index.erb">Home Page</a></td>
        <td><a href = "/about.erb">About Me</a></td>
        <td><a href = "/projects.erb">My Projects</a></td>
        <td><a href = "/blog.erb">My Blog</a></td>
    </table>
  </footer>


</body>
</html>
