<html>

  <head>
    <title>Hailey Says Hi: Projects</title>
    <link href="css/mysite.css" rel="stylesheet">
    <link href="css/projects.css" rel="stylesheet">
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <header>
    <h1>Hailey's projects</h1>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About Hailey</a></li>
        <li><a href="./project.html">Projects</a></li>
        <li><a href="./blog.html">Blog</a></li>
      </ul>
    </nav>
  </header>

  <table border="1">
    <tr>
      <td>
        Quilting
      </td>
      <td>
        <img src = "../quilt.jpg"/width="40%" height="auto" alt = "A quilt square I made"/>
      </td>
    </tr>
    <tr>
      <td >
        Locksport
      </td>
      <td>
        <img src = "../picklocks.jpg"/width="40%" height="auto" alt = "Picking locks with my little brother"/>
      </td>
    </tr>
    <tr>
      <td >
        Sewing experiments
      </td>
      <td>
        <img src = "../half_dress.jpg"/width="40%" height="auto" alt = "half-way through my first dress"/>
      </td>
    </tr>
    <tr>
      <td>
        homemade archery
      </td>
      <td>
        <img src = "../archery.jpg"/width="40%" height="auto" alt = "PVC Bow with Kevlar String"/>

      </td>
    </tr>
    <tr>
      <td>
        tinkering
      </td>
      <td>
        <img src = "../bikestand.jpg"/width="40%" height="auto" ; alt = "bikestand made of junk"/>

      </td>
    </tr>
  </table>

  <article>
  </article>

  <footer>
  <p>
        Follow me on:
        <a href="http://twitter.com/weswilliscodes" target="_blank">Twitter</a>
        <a href="http://facebook.com/haileyraerae" target="_blank">Facebook</a>
        <a href="https://github.com/wesleywillis" target="_blank">Github</a>
      </p>
  </footer>

</html>
