  <table id="projects">
    <tr>
      <td>
        Quilting
      </td>
      <td>
        <img src = "../quilt.jpg"/width="40%" height="auto" alt = "A quilt square I made"/>
      </td>
    </tr>
    <tr>
      <td >
        Locksport
      </td>
      <td>
        <img src = "../picklocks.jpg"/width="40%" height="auto" alt = "Picking locks with my little brother"/>
      </td>
    </tr>
    <tr>
      <td >
        Sewing experiments
      </td>
      <td>
        <img src = "../half_dress.jpg"/width="40%" height="auto" alt = "half-way through my first dress"/>
      </td>
    </tr>
    <tr>
      <td>
        homemade archery
      </td>
      <td>
        <img src = "../archery.jpg"/width="40%" height="auto" alt = "PVC Bow with Kevlar String"/>

      </td>
    </tr>
    <tr>
      <td>
        tinkering
      </td>
      <td>
        <img src = "../bikestand.jpg"/width="40%" height="auto" ; alt = "bikestand made of junk"/>

      </td>
    </tr>
  </table>

  <article>
  </article>
